.board {
    width: 960px;
    margin: auto;
}

.input {
    display: block;
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 15px;
}

.header {
    margin-bottom: 20px;
    text-align: right;
}

.lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
}